h1 {
                
    font-size: 36px;
                
}
            
h3 {
                
    font-size: 18px;
    font-weight: normal;
                
}
            
#timer-paragraph {
                
    font-weight: bold;
    font-size: 18px;
                
}